In [1]:
from tabulate import tabulate
data = [["Name", "Place", "Gender"], ["Aman", "New Delhi", "Male"], ["Hritika", "New Delhi", "Female"], ["Krishna", "UP", "Male"]]
print(tabulate(data))

-------  ---------  ------
Name     Place      Gender
Aman     New Delhi  Male
Hritika  New Delhi  Female
Krishna  UP         Male
-------  ---------  ------